@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --primary-color: #295bff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

header{
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    min-height: 70px;
    background-color: var(--primary-color);
}

header a{
    color: #fff;
    padding: 5px 0;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

header nav a::before{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    bottom: 0;
    transition: 300ms width ease-out;
}

header nav a:hover::before, .current::before{
    width: 100%;
}

header li{
    list-style: none;
    font-size: 0.8rem;
}

header ul{
    display: flex;
    gap: 22px;
}

.open{
    display: flex;
}

.lines{
    cursor: pointer;
    display: none;
}

.lines > * + *{
    margin-top: 4px;
}

.line{
    width: 35px;
    height: 4px;
    background-color: #fff;
}

.open + .lines .line-1{
    transform: rotate(-45deg) translateY(3px);
    margin: 0;
}

.open + .lines .line-2{
    display: none;
}

.open + .lines .line-3{
    transform: rotate(45deg)  translateY(-3px);
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
    margin-bottom: 50px;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    padding: 30px 0 20px;
}

.gallery img{
    width: 320px;
    margin: 10px;
    border: 2px solid #000;
    cursor: pointer;
    transition: 300ms transform ease-in-out;
}

.gallery img:hover{
    transform: scale(1.1);
}

#overlay{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    display: none;
}

.modal-content{
    border: 2px solid #000;
    position:absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    max-width: 800px;
    margin: auto;
}

#close{
    color: var(--primary-color);
    font-size: 2.5rem;
    position: absolute;
    top: 10px;
    right: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms transform ease-in-out;
}

#close:hover{
    transform: scale(1.2);
}

footer{
    background-color: var(--primary-color);
    min-height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

@media(max-width: 768px){
    header{
        padding: 0 50px;
    }
    header ul{
        background-color: var(--primary-color);
        gap: 50px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 70px;
        bottom: 0;
        right: 0;
        left: 0;
    }

    header li{
        font-size: 1rem;
    }

    .lines{
        display: inline-block;
    }

    main{
        padding: 0 40px;
    }
}

@media(max-width: 425px){
    header{
        padding: 0 30px;
    }

    main{
        padding: 0 20px;
        margin: 20px 0;
    }

    .gallery img{
        width: 300px;
        margin: 10px 0;
    }

    footer{
        font-size: 0.7rem;
    }
}